body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  width: 250px;
  height: 37px;
}
.cityname {
  background-color: #4472c4;
  color: white;
  height: 30px;
}
